/* layout */
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 50px;
	margin-bottom: 60px;
}

.map {
	position: absolute;
	top: 50px;
	min-width: 500px;
	min-height: 500px;
}
#dashboard {
	position: relative;
}

.righter {
	color: #bbb;
	font-size: 16px;
	margin-left: 150px;
	padding-top: 15px;
}
.logo {
	position: absolute;
	//margin-left: -5%;
}
.main {
	min-height: 550px;
}

#card {
	opacity: 0.7;
	position: absolute;
	right: 50px;
	top: 50px;
}

div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top:20px;
}
