/* layout */
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 50px;
	margin-bottom: 60px;
}

.map {
	position: absolute;
	min-width: 500px;
	min-height: 500px;
}
#dashboard {
	position: relative;
}

.main {
	min-height: 500px;
}

#card {
	opacity: 0.7;
	position: absolute;
	right: 50px;
	top: 50px;
}

div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top:20px;
}
