/* layout */
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 50px;
	margin-bottom: 60px;
}

#dashboard {
	position: relative;
}

.card {
	background: #FFFFFF;
	position: absolute;
	right: 30px;
	top: 10px;
	width: 500px;
	height: 300px;
}

div#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 60px;
	background-color: #f5f5f5;
	padding-top:20px;
}
