  <div class="card modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="card" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= name %></h2>
      </div>
      <div class="modal-body">
        <h3><%= score %></h3>

        <ul class="media-list">
        <% _.each(articles, function(article) { %>
          <li class="media">
            <div class="media-body">
              <h4 class="media-heading"><a href="<%= article.web_url %>"><%= article.headline.main %></a></h4>
            </div>
          </li>
          <% }); %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="card">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
